        ::selection {
            background: #51e153;
            color: black;
            border-radius: 1100px;
        }

        @font-face {
            font-family: sailec;
            src: url("/fonts/sailec.ttf") format('opentype');
            /* Otros atributos opcionales como font-weight y font-style pueden ir aquí */
        }

        /*SCROLLBAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARRR*/
        ::-webkit-scrollbar {
            width: 12px;
            /* Ancho de la barra deslizante */
        }

        ::-webkit-scrollbar-thumb {
            background-color: #0e1119;
            /* Color del pulgar (la parte móvil de la barra) */
            border-radius: 6vh;
            /* Borde redondeado del pulgar */
        }



        /* Estilos para Firefox */
        /* Nota: Firefox utiliza una sola propiedad para estilizar la barra deslizante */
        /* Establece el color del fondo de la barra deslizante en Firefox */
        /* Estos estilos también afectarán a la barra deslizante en Edge e IE */
        * {
            scrollbar-color: #0e1018 #151924;
            scrollbar-width: thin;
            cursor: none;
        }

        /*TERMINAAAAAAAAAAAAA SCROLLBAAAAAAAAAAAAAAAAAAAAAARRR*/

        #text::after {
            content: '█';
            /* Carácter del cursor */
            display: inline-block;
            animation: blink 1000ms infinite;
            /* Animación de parpadeo */
            animation-timing-function: step-start;
        }


        /*CURSOOOORRRRRRR TRAIL*/
        body {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
            background-color: #151924;
            height: 100vh;
        }

        @keyframes blink {

            0%,
            100% {
                opacity: 1;
            }

            50% {
                opacity: 0;
            }
        }

        @keyframes nomanim {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        @keyframes sobanim {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        .navbar {
            height: 40px;
            position: fixed;
            width: 100%;
            top: 0;
            transition: top 0.2s;
            background: linear-gradient(90deg, rgba(15, 18, 27, 1) 0%, rgba(21, 25, 36, 1) 30%);
            z-index: 99;
            font-size: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0px 20px 5vh;
        }

        .navbar.hidden {
            transition: top 0.5s;
            top: -80px;
        }

        .proy {
            color: #51e153;
            border: 2px solid #51e153;
            border-radius: 10px;
            padding: 10px;
            background-color: transparent;
            font-family: monospace;
            transition: 1s;
        }

        .proy:hover {
            color: #151924;
            transform: scale(1.1);
            box-shadow: 0px 0px 15px #60e362;
            background-color: #41e243;
            transition: 0.5s;
            font-weight: 900;
        }

        .botonindex {
            width: 30%;
            margin-left: 0px;
            color: #51e153;
            border: 2px solid #51e153;
            border-radius: 10px;
            padding: 20px;
            background-color: transparent;
            font-family: monospace;
            transition: 1s;
            font-size: 2em;
        }

        .botonindex:hover {
            transform: scale(1.1);
            color: black;
            border: 2px solid #51e153;
            border-radius: 10px;
            box-shadow: 0px 0px 15px #60e362;
            background-color: #51e153;
            transition: 0.5s;
        }

        .otros {
            color: #d4d4d4;
            font-size: 15px;
            border: 2px solid transparent;
            background-color: transparent;
            font-family: monospace;
            transition: ease-in-out 0.4s;
        }

        .otros:hover {
            transform: translateY(3px);
            transition: ease-in-out 0.4s;
            color: #51e153;
            border-bottom: 0.3vh solid #41e243;
        }

        #cursor {
            position: fixed;
            z-index: 100;
            display: none;
            width: 2.8vh;
            height: 2.8vh;
            border-radius: 50%;
            background-color: #51e153;
            mix-blend-mode: difference;
            pointer-events: none;
            transition: transform 0.2s ease-out;
            transform-origin: 50% 50%;
        }

        .iframeclass {
            position: absolute;
            top: 80px;
            right: 0vh;
            height: 100vh;
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            visibility: hidden;
            opacity: 0;
            transition: ease-in 2s;
        }

        .iframeclasshide {
            visibility: visible;
            opacity: 1;
            transition: ease-in 2s;
        }

        .wppBtn {
            position: fixed;
            bottom: 3vh;
            right: 3vh;
            z-index: 1;
            transition: ease-in-out 0.4s;
            background-image: url(/img/wpp.png);
            border: none;
            border-radius: 100vh;
            background-color: transparent;
            background-repeat: no-repeat;
            background-size: contain;
            width: 8vh;
            height: 8vh;
        }

        .wppBtn:hover {
            transform: scale(1.2);
            transition: ease-in-out 0.2s;
        }

        .menuItems{
            position: absolute;
            top: 120px;
            right: 0;
            width: 50%;   
            display: flex;
            flex-direction: column;
            justify-content: end;

        }

        .hambMenu {
            display: none;
            background-image: url(/img/ham.png);
            background-repeat: no-repeat;
            background-size: contain;
            height: 90px;
            padding-right: 8vh;
        }

        .normalMenu {
            display: flex;
            margin: 0px;
            width: 60%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 6vh;
            padding-right: 10vh;
        }

        .text {
            color: #51e153;
            font-family: monospace;
            font-size: 3.5vh;
            margin: 0;
        }



        .nombre{
            color: #c4c8de;
            font-family: 'sailec';
            font-weight: 700;
            font-size: 9.5vh;
            margin: 0px;
            margin-bottom: 3vh;
            opacity: 0;
            display: flex;
            visibility: hidden;
        }

        .sobre {
            color: #7d8191;
            text-align: justify;
            text-justify: inter-word;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 3.5vh;
            font-weight: 400;
            opacity: 0;
            visibility: hidden;
            margin: 0px;
        }

        .acercade {
            color: #7d8191;
            text-align: justify;
            text-justify: inter-word;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 3.5vh;
            font-weight: 400;
            margin: 0px;
        }

        .nombrevisible {
            visibility: visible;
            opacity: 1;
            transition: ease-in 2s;
        }

        .sobrevisible {
            visibility: visible;
            opacity: 1;
            transition: ease-in 2s;
        }
        .containerIn1 {
            height: 100vh;
            display: flex;
            align-items: center;
        }
        
        .containerIn2 {
            position: relative;
            left: 25vh;
            width: 40%;
        }

        .containerHab{
            width: 100%;
            height: 70vh;
            gap: 4vh;
            justify-content: center;
            margin-bottom: 10vh;
            display: flex;
            flex-wrap: wrap;
        }

        .card{
            width: 45vh;
            display: flex;
            padding: 3vh;
            height: 29vh;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: 0.3s ease-in-out;
            border-radius: 3vh;
            background-color: #0e101888;
        }

        .card:hover{
            transform: scale(1.08);
            transition: 0.3s ease-in-out;
        }

        .imgClass{
            padding: 2vh;
            border-radius: 5vh;
            width: 20vh;
            height: fit-content;
        }

        .containerIn4 {
            position: relative;
            left: 25vh;
            width: 78%;
        }

        .containerIn5 {
            position: relative;
            left: 25vh;
            width: 78%;
        }

        .acercaTitulo{
            font-size: 9.5vh;
            margin-bottom: 25px;
            color: #c4c8de;
            font-family: sailec;
            font-weight: bold;
        }

        .habilidadesTitulo {
            font-size: 9.5vh;
            margin-bottom: 25px;
            color: #c4c8de;
            font-family: sailec;
            font-weight: bold;
        }


        @media only screen and (max-width: 1100px) {
            .containerHab {
                padding-top: 7vh;
                gap: 4vh;
                margin-bottom: 0px;
            }

            .card {
                height: 15vh;
                width: 10vh;
            }

            .card:hover {
                transform: scale(1);
            }

            .imgClass {
            border-radius: 3vh;
                width: 10vh;
            }

            .hambMenu{
                display: flex;
            }
            #cursor{
                visibility: hidden;
            }
            .iframeclass{
                top: 50%;
                height: 50vh;
                width: 100vw;
                right: unset;
                left: 0;
            }

            .containerIn1{
                height: 100vh;
                padding-top: 40px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }

            .containerIn2 {
                top: 15vh;
                left: 3vh;
                width: 86vw;
            }

            .containerIn4 {
                left: 3vh;
                width: 86vw;
            }
                        
            .containerIn5{
                left: 3vh;
                width: 86vw;
            }

            .normalMenu {
                display: none;
            }

            .text{
                font-size: 2vh;
            }

            .nombre {
                font-size: 3vh;
                margin-bottom: 1vh;
            }

            .acercaTitulo{
                font-size: 3vh;
                margin-bottom: 1vh;
            }

            .habilidadesTitulo{
                font-size: 3vh;
                margin-top: 2vh;
            }

            .sobre {
                font-size: 2vh;
            }

            .acercade {
                font-size: 2vh;
            }

            .navbar {
                height: 120px;
                padding: 20px 2vh 20px 2vh;
            }

            .navbar.hidden{
                top: -170px;
            }
        }

